__pycache__/
*.py[cod]
.venv/
venv/
.env
*.log
.DS_Store
secrets-policy.json
task-definition.json
task-definition-v3.json
task-definition-rendered.json
ecr-lifecycle-policy.json
codebuild-trust-policy.json
codebuild-policy.json
codepipeline-trust-policy.json
codepipeline-policy.json
create-pipeline.json
